<h1 #slh3 style="color: brown; text-shadow: 1px 2px;"><i>Hummmm!!</i></h1>
<br>
 <div class="container">
    <div class="row">
      <div class="col-4 " style="margin: auto;">
        <div class="card">
          <img class="card-img-top" src="assets/images/prod1.jpeg" alt="Bologna">
          <div class="card-body" style="text-align: center;">
            <h5 class="card-title ">{{prd.Title}}</h5>
        <p class="card-text text-muted text-justify">{{prd.id}}</p>  
          </div>
        </div>
      </div>
      </div>
      </div>
