<!-- <div class='container-fluid'>
  <div class="row">
    <div class="col-sm-6 d-flex justify-content-center">
  <div class="card mt-5" *ngFor="let item of shops" style="width: 20rem;"><img class='mx-auto img-thumbnail' src="https://i.imgur.com/pjITBzX.jpg" width="auto" height="auto"/>
    <div class="card-body text-center mx-auto">
      <div class='cvp'>
        <h5 class="card-title font-weight-bold">{{item.Title}}</h5>
       <p class="card-text">asasa</p><a href="#" class="btn details px-auto">view details</a><br/> <a href="#" class="btn cart px-auto">ADD TO CART</a>
      </div>
    </div>
  </div>
</div>
</div>
</div>
  -->

  <div class="demo">
    <div class="container">
        <div class="row text-center">
            <h1 class="white">صفحة المنتجات</h1>
        </div>
<br>
        <div class="row">
            <div class="col-md-3 col-sm-6" *ngFor="let item of shops">
                <div class="product-grid" >
                    <div class="product-image">
                        <a href="#" class="image">
                            <img class="pic-1" src="./../../../../assets/imges/pic1.jpg">
                        </a>
                        <span class="product-discount-label">-33%</span>
                        <ul class="product-links">
                            <li><a href="#" data-tip="Add to Wishlist"><i class="fas fa-heart"></i></a></li>
                            <li><a href="#" data-tip="Compare"><i class="fa fa-random"></i></a></li>
                            <li><a href="#" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                        </ul>
                    </div>
                    <div class="product-content">
                        <ul class="rating">
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="far fa-star"></li>
                            <li class="far fa-star"></li>
                        </ul>
                        <h3 class="title"><a href="#">{{item.Title}}</a></h3>
                        <div class="price"><span>$90.00</span>{{item.price | currency:"USD"}}</div>
                        <a class="add-to-cart" href="#">add to cart</a>
                    </div>
                </div>
                <br>
            </div>
            </div>
           